@{ ViewBag.Title = "Contact"; }
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>
    body {
        background-image: url('https://img.freepik.com/free-photo/front-wheel-blue-vintage-sedan_114579-6115.jpg?w=2000');
    }

    .style4 {
        font-size: large;
        text-align: justify;
    }
</style>


<tr>
    <td>
        <h2>
            Contact us
        </h2>
    </td>
</tr>
<p>
    <address class="style4">
        Connaught Place<br />
        Delhi, WA 98052-6399<br />
        <abbr title="9876543210">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@carrental.com">Support@carrental.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@carrental.com">Marketing@carrental.com</a>
    </address>
</p>