@{ ViewData["Title"] = "Home Page";}



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://www.smartertravel.com/wp-content/uploads/2019/02/woman-driving-car-in-greece.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://carsvv.com/wp-content/uploads/2021/10/Self-Drive-Car-Rental-Agreement.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://www.tripsavvy.com/thmb/T2n4lmS0Ip3ZKoZp5e_vrzBT9sY=/2121x1414/filters:fill(auto,1)/handing-over-rental-key-5c24517fc9e77c0001ad9a26.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!-- Carousel wrapper -->
<div id="carouselMultiItemExample"
     class="carousel slide carosel-dark text-center"
     data-mdb-ride="carousel" u>
    <!-- C
    </div>
    <!-- Inner -->
    <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1wgvXvrfgX2RvJR2EeBpoy_QKDduxCaRb4A&usqp=CAU"
                                 class="card-img-top"
                                 alt="Waterfall" />
                            <div class="card-footer">
                                <h5 class="card-title">Suv</h5>
                                <p class="card-text">
                                    SUVs—often also referred to as crossovers—tend to be taller and boxier than sedans,
                                    offer an elevated seating position, and have more ground clearance than a car
                                </p>
                                <a href="#!" class="btn btn-primary">price</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-block">
                        <div class="card">
                            <img src="https://www.hyundai.com/content/dam/hyundai/ww/en/images/find-a-car/pip/cars/azera-ig-fl/azera-ig-fl-highlights-key-feature-video.jpg"
                                 class="card-img-top"
                                 alt="Sunset Over the Sea" />
                            <div class="card-footer">
                                <h5 class="card-title">Sedan</h5>
                                <p class="card-text">
                                    A sedan has four doors and a traditional trunk. Like vehicles
                                    in many categories, they're available in a range of sizes from small
                                </p>
                                <a href="#!" class="btn btn-primary">price</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="https://www.mazdausa.com/siteassets/vehicles/2022/mazda3-hatch/vlp/features/performance/hero/2022-Mazda-3-Hatchback-Skyactiv-G-2.5-Turbo-Engine.jpg"
                                 class="card-img-top"
                                 alt="Sunset over the Sea" />
                            <div class="card-footer">
                                <h5 class="card-title">Hatchback</h5>
                                <p class="card-text">
                                    Traditionally, the term "hatchback" has meant a compact or subcompact sedan with a squared-off roof and a
                                    rear flip-up hatch door that provides access to the vehicle's cargo area instead of a conventional trunk
                                </p>
                                <a href="#!" class="btn btn-primary">price</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                        <div class="card">
                            <img src="https://i.ndtvimg.com/i/2015-12/mercedes-benz-gle-coupe_827x510_51449119963.jpg"
                                 class="card-img-top"
                                 alt="Peaks Against the Starry Sky" />
                            <div class="card-footer">
                                <h5 class="card-title">Coupe</h5>
                                <p class="card-text">
                                    A coupe is classically defined as a closed two-door car with a fixed roof.
                                    Considered sporty by nature, it generally gets just 2 seats or with a smaller-than-average rear.

                                </p>
                                <a href="#!" class="btn btn-primary">price</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                        <div class="card">
                            <img src="https://i.ndtvimg.com/i/2014-12/audi-a3-cabriolet-3_625x300_51417497918.jpg"
                                 class="card-img-top"
                                 alt="Peaks Against the Starry Sky" />
                            <div class="card-footer">
                                <h5 class="card-title">Convertible</h5>
                                <p class="card-text">
                                    A convertible, a.k.a. a cabriolet or roadster, is a car with a roof structure that can be 'converted'
                                    to allow open-air or enclosed driving. They feature either a retractable hardtop roof or soft folding top.
                                </p>
                                <a href="#!" class="btn btn-primary">price</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                        <div class="card">
                            <img src="https://i.ndtvimg.com/i/2016-03/volvo-s60-cross-country-827_827x510_51456830614.jpg"
                                 class="card-img-top"
                                 alt="Peaks Against the Starry Sky" />
                            <div class="card-footer">
                                <h5 class="card-title">Crossover</h5>
                                <p class="card-text">
                                    A simple, and common, definition of a crossover would be that it is a vehicle that combines the features of an SUV
                                    and a hatchback.Crossover vehicles offer soft-roading capabilities and are constructed like a
                                    car .
                                </p>
                                <a href="#!" class="btn btn-primary">price</a>
                            </div>
                        </div>


                    </div>






                </div>
            </div>
        </div>
    </div>
    <!-- Inner -->
</div>
<!-- Carousel wrapper -->
<!--footer-->
<!--foooter-->
<section style="background-color: #e6e6e6; " class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Home</h5><br>
                <h6>My booking</h6>
                <h6>Suppliers</h6>
                <h6>Travel Tips</h6>
                <h6>Car Rental Locations</h6>
                <br>


            </div>
            <div class="col-md-3">


                <div class="list ">
                    <h5>Car Rental</h5><br />
                    <h6>Car Rental-Compare</h6>
                    <h6>Car Rental-7 and 9 Seater</h6>
                    <h6>Luxry and prestige</h6>


                </div>

            </div>

            <div class="col-md-2 mt-2 mt-md-0">
                <h5>FAQ</h5><br>
                <div class="list ">
                    <h6>Advice for renters</h6>
                    <h6>Contact Ust</h6>
                    <h6>Privacy Notice</h6>
                    <h6>Cookie Policy</h6>
                    <h6>Genral Terms of Use</h6>

                </div>


            </div>

        </div>
    </div>

</section>
